<h1> My name is Al Delcy</h1>
	<p>
		<b>I am a man of simple taste</b>
	</p>
<% if Date.today.tuesday? %>
	<p>
		I am feeling Blue
	</p>
<% else %>
	<p>
		I am feeling Good.
	</p>
<% end %>

<p>
	<%= @hello.greeting %><br>
	This is how I feel every FRIDAY<br>
	<img src="/image.gif" alt="happy">
</p>