<!doctype html>
<html>
<head>
  <title>To Do List</title>
</head>
<body>
	<h1><%= session[:user] %>'s to do list:</h1>
		
	<% if @submit == "submitted" %>
		<br>
		Message: SUCESS
		<h2>Task Added</h2>
		<img src="/success.jpg" width="400">
	<% else %>
		Message: FAILED
		<h2>Task NOT Added</h2>
	<% end %>
</body>
</html>