<div class='container-fluid header'>	
	
</div>
<div class='menu'>
	<div class='container'>
		<ul>
			<a href='/'><li>Home</li></a>
			<a href='/concerts/new'><li>Create concert</li></a>
		</ul>
	</div>
</div>